<section class="exercise">
  <div class="exercise-header">
    <h3 class="exercise-name">{{ exercise().name }}</h3>
    @if (editable() && canRemoveExercise()) {
      <button
        matButton
        type="button"
        class="remove-exercise-button"
        (click)="onRemoveExercise()"
        [attr.aria-label]="'Remove ' + exercise().name"
      >
        Remove
      </button>
    }
  </div>
  <ol class="sets" aria-label="Sets">
    @for (set of exercise().sets; track $index) {
      <li class="set-row" [class.set-row--editing]="editable()">
        <span class="set-label">Set {{ $index + 1 }}</span>
        @if (editable()) {
          <input
            class="set-input set-reps-input"
            type="number"
            min="0"
            step="1"
            [value]="set.reps"
            (input)="onRepsChange($index, $event)"
            [attr.aria-label]="'Reps for set ' + ($index + 1) + ', ' + exercise().name"
          />
          <span class="set-weight-edit">
            <input
              class="set-input set-weight-input"
              type="number"
              min="0"
              step="0.5"
              [value]="set.weight"
              (input)="onWeightChange($index, $event)"
              [attr.aria-label]="'Weight for set ' + ($index + 1) + ', ' + exercise().name"
            />
            <span class="set-unit">{{ set.weightUnit }}</span>
          </span>
          @if (exercise().sets.length > 1) {
            <button
              matIconButton
              type="button"
              class="remove-set-button"
              (click)="onRemoveSet($index)"
              [attr.aria-label]="'Remove set ' + ($index + 1) + ', ' + exercise().name"
            >
              <mat-icon>close</mat-icon>
            </button>
          }
        } @else {
          <span class="set-reps">{{ set.reps }} reps</span>
          <span class="set-weight">{{ set.weight }} {{ set.weightUnit }}</span>
        }
      </li>
    }
  </ol>
  @if (editable()) {
    <button matButton type="button" class="add-set-button" (click)="onAddSet()">
      <mat-icon>add</mat-icon>
      Add set
    </button>
  }
</section>
